<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta21/shoelace.css">
</head>
<body>


  <div class="wrapper">
    <h2>New Entry:</h2>
    {{#messages.error}}
      <div class="alert alert-danger" role="alert">
        {{.}}
      </div>
    {{/messages.error}}
    <form method="POST" action="/add_task/">
      <input type="text" id="username-input" name="username" placeholder="Username" />
      <input type="text" id="date-input" name="date" placeholder="Date" />
      <input type="text" id="activity-input" name="activity" placeholder="Activity" />
      <input type="text" id="amount-input" name="amount" placeholder="Number of Free Throws" />
      <button type="submit">Add</button>
    </form>

      <div class="navigation">
        {{#user.length}}
          <h2>User List</h2>

        {{/user.length}}
        {{#user}}
          <div>
            <p>UserName: {{ username }}</p>
            <p>Date: {{ date }}</p>
            <p>Activity: {{activity}}</p>
            <p>Amount: {{amount}}</p>
            <h3>Update Daily Activity</h3>
            <form method="POST" action='/api/activities/{{_id}}'>
              <input(type="hidden", name="_method", value="PUT">
              <input type="text" id="activity-input" name="activity" placeholder="Activity" />

              <button type="submit">Update</button>
            </form>

            <form action="/api/activities/{{id}}/delete" method="POST">
			          <input type="submit" name="" value="Delete">
			      </form>
            <form action="/api/activities/{{id}}/stats" method="POST">
              <input type="text" id="activity-input" name="activity" placeholder="Activity Name" />
              <input type="text" id="amount-input" name="amount" placeholder="Number Stat" />
              <input type="text" id="date-input" name="date" placeholder="Date" />
			        <input type="submit" name="" value="Update Stat">
			      </form>

          </div>
        {{/user}}
        {{#stat.length}}
        <p>Stats:</p>
        <p>Delete Stat by Date:</p>
        <p>Date Format:"YYYY-MM-DD"</p>
        <form action="/api/stat/date_delete" method="POST">
          <input type="text" id="date-input" name="date" placeholder="Date" />
          <input type="submit" name="" value="Delete">
        </form>
        {{/stat.length}}
        {{#stat}}
        <p>{{activityId}}</p>
        <p>{{amount}}</p>
        <p>{{identifier}}</p>
        <p>{{create_date}}</p>
        <form action="/api/stats/{{id}}" method="POST">
            <input type="submit" name="" value="Delete">
        </form>
        {{/stat}}
        {{^stat}}
        <p>No stats available</p>
        {{/stat}}
      </div>
      <p><a href="/">Index</a></div>
  </div>



  <script src="main.js" type="text/javascript"></script>
</body>
</html>
